.App {
  text-align: center;
  font-family: 'Cafe24Ohsquareair';
  margin-top: 40px;
}

.main-image {
  width: 100%;
  pointer-events: none;
}

@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ohsquareair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.react-datepicker__input-container::before {
  content: '\e99c';
  display: inline-block;
  font-family: 'Cafe24Oneprettynight';
  font-size: 1rem;
  color: #333;
}

span.name {
  font-weight: bold;
  font-size: 18px;
}

.subTitle {
  padding-top: 40px;
  color: green;
}