#kakaoMapDiv {
    padding: 0 20px;
}

#kakaoMap {
    margin: auto;
    border-radius: 20px;
}

#localText {
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
}

.warningMsg {
    font-size: 12px !important;
    color: red;
}

.subMsg {
    font-size: 14px !important;
}

.copyText {
    font-size: 12px;
    background-color: blanchedalmond;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.metroLine2 {
    color: limegreen !important;
    font-weight: bold !important;
}

.navigationAppBtn {
    margin-bottom: 10px;
    width: 100%;
}

.navigationAppBtn>button{
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    padding: 8px 4px;
    color: white;
    width: 25%;
    margin: 0 5px;
}

.navigationAppBtn>button:nth-child(1) {
    background: red;
}

.navigationAppBtn>button:nth-child(2) {
    background: rgb(252, 228, 69);
    color: rgb(32, 33, 33);
}

.navigationAppBtn>button:nth-child(3) {
    background: #2DB400;
}