#kakaoMapDiv {
    padding: 0 20px;
}

#kakaoMap {
    margin: auto;
    border-radius: 20px;
}

#localText {
    border-radius: 20px;
    text-align: center;
    font-size: 10px;
}

.warningMsg {
    font-size: 12px !important;
    color: red;
}

.subMsg {
    font-size: 14px !important;
}

.copyText {
    font-size: 12px;
    background-color: blanchedalmond;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.metroLine2 {
    color: limegreen !important;
    font-weight: bold !important;
}

.navigationAppBtn {
    margin-bottom: 10px;
    width: 100%;
}

.navigationAppBtn>button{
    border: 0px;
    border-radius: 5px;
    width: 30px;
    margin: 0 15px;
    padding: 0;
}

.navigationAppBtn>button>img{
    border-radius: 5px;
    width: 100%;
}
