
.toast {
    position: fixed;
    bottom: 10%;
    left: 50%;
    min-width: 200px;
    padding: 7px 10px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgb(255, 148, 148);
    color: #fff;
    border-radius: 10px;
    font-family: 'Cafe24Oneprettynight' !important;
    font-weight: bold;
  }